USE [master]
GO
/****** Object:  Database [DBBootCamp]    Script Date: 9/15/2021 6:41:57 PM ******/
CREATE DATABASE [DBBootCamp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBBootCamp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBBootCamp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBBootCamp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBBootCamp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBBootCamp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBBootCamp]
GO
/****** Object:  Table [dbo].[Guests]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guests](
	[GuestID] [int] IDENTITY(1,1) NOT NULL,
	[GuestName] [varchar](50) NULL,
	[TavernID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[SupplyID] [int] NULL,
	[TavernID] [int] NULL,
	[DateUpdated] [datetime] NULL,
	[InventoryCount] [int] NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [varchar](50) NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rats]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rats](
	[TavernID] [int] NULL,
	[RatName] [varchar](50) NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](250) NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceSales]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceSales](
	[ServiceSaleID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NULL,
	[GuestID] [int] NULL,
	[Price] [money] NULL,
	[DatePurchased] [datetime] NULL,
	[AmountPurchased] [int] NULL,
	[TavernID] [int] NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[SupplyID] [int] NULL,
	[TavernID] [int] NULL,
	[ReceivedAmount] [int] NULL,
	[DateShipped] [datetime] NULL,
	[DateReceived] [datetime] NULL,
	[Cost] [money] NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[SupplyID] [int] IDENTITY(1,1) NOT NULL,
	[UOM] [varchar](50) NULL,
	[SupplyName] [varchar](250) NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Taverns]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taverns](
	[TavernID] [int] IDENTITY(1,1) NOT NULL,
	[TavernName] [varchar](50) NULL,
	[LocationID] [int] NULL,
	[OwnerID] [int] NULL,
	[FloorCount] [int] NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TavernServices]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TavernServices](
	[ServiceID] [int] NULL,
	[TavernID] [int] NULL,
	[StatusID] [int] NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/15/2021 6:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[RoleID] [int] NULL,
	[DateCreated] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Guests] ON 

INSERT [dbo].[Guests] ([GuestID], [GuestName], [TavernID]) VALUES (1, N'Bill', 1)
INSERT [dbo].[Guests] ([GuestID], [GuestName], [TavernID]) VALUES (2, N'Phil', 2)
INSERT [dbo].[Guests] ([GuestID], [GuestName], [TavernID]) VALUES (3, N'Chris', 3)
SET IDENTITY_INSERT [dbo].[Guests] OFF
GO
INSERT [dbo].[Inventory] ([SupplyID], [TavernID], [DateUpdated], [InventoryCount], [DateCreated]) VALUES (1, 1, CAST(N'2021-09-14T00:00:00.000' AS DateTime), 5, CAST(N'2021-09-14T20:29:59.083' AS DateTime))
INSERT [dbo].[Inventory] ([SupplyID], [TavernID], [DateUpdated], [InventoryCount], [DateCreated]) VALUES (2, 1, CAST(N'2021-09-13T00:00:00.000' AS DateTime), 10, CAST(N'2021-09-14T20:29:59.083' AS DateTime))
INSERT [dbo].[Inventory] ([SupplyID], [TavernID], [DateUpdated], [InventoryCount], [DateCreated]) VALUES (3, 1, CAST(N'2021-09-14T00:00:00.000' AS DateTime), 3, CAST(N'2021-09-14T20:29:59.083' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [LocationName], [DateCreated]) VALUES (1, N'Bree', CAST(N'2021-09-14T19:07:02.387' AS DateTime))
INSERT [dbo].[Locations] ([LocationID], [LocationName], [DateCreated]) VALUES (2, N'Worchester', CAST(N'2021-09-14T19:35:03.213' AS DateTime))
INSERT [dbo].[Locations] ([LocationID], [LocationName], [DateCreated]) VALUES (3, N'Friendsville', CAST(N'2021-09-14T19:35:21.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
INSERT [dbo].[Rats] ([TavernID], [RatName], [DateCreated]) VALUES (1, N'Craig', CAST(N'2021-09-14T19:22:32.517' AS DateTime))
INSERT [dbo].[Rats] ([TavernID], [RatName], [DateCreated]) VALUES (1, N'Chris', CAST(N'2021-09-14T19:45:56.023' AS DateTime))
INSERT [dbo].[Rats] ([TavernID], [RatName], [DateCreated]) VALUES (2, N'Edward', CAST(N'2021-09-14T19:46:10.467' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [DateCreated]) VALUES (1, N'Tavern Owner', CAST(N'2021-09-14T19:20:13.880' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [DateCreated]) VALUES (2, N'Wanderer', CAST(N'2021-09-14T19:41:22.303' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [DateCreated]) VALUES (3, N'Bar Maid', CAST(N'2021-09-14T19:41:34.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [DateCreated]) VALUES (1, N'Pool', CAST(N'2021-09-15T18:12:04.560' AS DateTime))
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [DateCreated]) VALUES (2, N'Weapon Sharpening', CAST(N'2021-09-15T18:12:11.770' AS DateTime))
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [DateCreated]) VALUES (3, N'Knife Throwing', CAST(N'2021-09-15T18:12:19.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceSales] ON 

INSERT [dbo].[ServiceSales] ([ServiceSaleID], [ServiceID], [GuestID], [Price], [DatePurchased], [AmountPurchased], [TavernID], [DateCreated]) VALUES (2, 1, 1, 50.0000, CAST(N'2021-07-15T00:00:00.000' AS DateTime), 1, 1, CAST(N'2021-09-15T18:35:05.970' AS DateTime))
INSERT [dbo].[ServiceSales] ([ServiceSaleID], [ServiceID], [GuestID], [Price], [DatePurchased], [AmountPurchased], [TavernID], [DateCreated]) VALUES (3, 6, 2, 100.0000, CAST(N'2021-09-15T00:00:00.000' AS DateTime), 1, 2, CAST(N'2021-09-15T18:35:05.970' AS DateTime))
INSERT [dbo].[ServiceSales] ([ServiceSaleID], [ServiceID], [GuestID], [Price], [DatePurchased], [AmountPurchased], [TavernID], [DateCreated]) VALUES (4, 7, 3, 25.0000, CAST(N'2021-08-25T00:00:00.000' AS DateTime), 1, 3, CAST(N'2021-09-15T18:35:05.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceSales] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentID], [SupplyID], [TavernID], [ReceivedAmount], [DateShipped], [DateReceived], [Cost], [DateCreated]) VALUES (2, 1, 1, 5, CAST(N'2021-09-10T00:00:00.000' AS DateTime), CAST(N'2021-09-15T00:00:00.000' AS DateTime), 1000.0000, CAST(N'2021-09-15T18:01:14.160' AS DateTime))
INSERT [dbo].[Shipments] ([ShipmentID], [SupplyID], [TavernID], [ReceivedAmount], [DateShipped], [DateReceived], [Cost], [DateCreated]) VALUES (3, 2, 1, 10, CAST(N'2021-09-08T00:00:00.000' AS DateTime), CAST(N'2021-09-14T00:00:00.000' AS DateTime), 500.0000, CAST(N'2021-09-15T18:01:14.160' AS DateTime))
INSERT [dbo].[Shipments] ([ShipmentID], [SupplyID], [TavernID], [ReceivedAmount], [DateShipped], [DateReceived], [Cost], [DateCreated]) VALUES (4, 3, 1, 3, CAST(N'2021-08-29T00:00:00.000' AS DateTime), CAST(N'2021-09-10T00:00:00.000' AS DateTime), 300.0000, CAST(N'2021-09-15T18:01:14.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusID], [StatusName], [DateCreated]) VALUES (1, N'Active', CAST(N'2021-09-15T18:14:59.573' AS DateTime))
INSERT [dbo].[Status] ([StatusID], [StatusName], [DateCreated]) VALUES (2, N'Inactive', CAST(N'2021-09-15T18:15:07.060' AS DateTime))
INSERT [dbo].[Status] ([StatusID], [StatusName], [DateCreated]) VALUES (3, N'Discontinued', CAST(N'2021-09-15T18:15:20.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplies] ON 

INSERT [dbo].[Supplies] ([SupplyID], [UOM], [SupplyName], [DateCreated]) VALUES (1, N'Gallon', N'Strong Ale', CAST(N'2021-09-14T20:17:40.280' AS DateTime))
INSERT [dbo].[Supplies] ([SupplyID], [UOM], [SupplyName], [DateCreated]) VALUES (2, N'Gallon', N'Watered Ale', CAST(N'2021-09-14T20:17:40.280' AS DateTime))
INSERT [dbo].[Supplies] ([SupplyID], [UOM], [SupplyName], [DateCreated]) VALUES (3, N'Pound', N'Cheese', CAST(N'2021-09-14T20:17:40.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[Supplies] OFF
GO
SET IDENTITY_INSERT [dbo].[Taverns] ON 

INSERT [dbo].[Taverns] ([TavernID], [TavernName], [LocationID], [OwnerID], [FloorCount], [DateCreated]) VALUES (1, N'Prancing Pony', 1, 1, 3, CAST(N'2021-09-14T19:02:16.400' AS DateTime))
INSERT [dbo].[Taverns] ([TavernID], [TavernName], [LocationID], [OwnerID], [FloorCount], [DateCreated]) VALUES (2, N'Drinks & More', 2, 2, 3, CAST(N'2021-09-14T19:25:29.317' AS DateTime))
INSERT [dbo].[Taverns] ([TavernID], [TavernName], [LocationID], [OwnerID], [FloorCount], [DateCreated]) VALUES (3, N'Travelers Respite', 3, 2, 2, CAST(N'2021-09-14T19:26:32.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[Taverns] OFF
GO
INSERT [dbo].[TavernServices] ([ServiceID], [TavernID], [StatusID], [DateCreated]) VALUES (1, 1, 2, CAST(N'2021-09-15T18:21:14.240' AS DateTime))
INSERT [dbo].[TavernServices] ([ServiceID], [TavernID], [StatusID], [DateCreated]) VALUES (2, 1, 1, CAST(N'2021-09-15T18:21:14.240' AS DateTime))
INSERT [dbo].[TavernServices] ([ServiceID], [TavernID], [StatusID], [DateCreated]) VALUES (6, 1, 1, CAST(N'2021-09-15T18:21:14.240' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [RoleID], [DateCreated]) VALUES (1, N'Chris', 1, CAST(N'2021-09-14T19:17:15.957' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [RoleID], [DateCreated]) VALUES (2, N'Unknown', 2, CAST(N'2021-09-14T19:30:05.230' AS DateTime))
INSERT [dbo].[Users] ([UserID], [UserName], [RoleID], [DateCreated]) VALUES (3, N'Rusty', 1, CAST(N'2021-09-14T19:30:20.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Rats] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[ServiceSales] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Status] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Supplies] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Taverns] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[TavernServices] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
USE [master]
GO
